body{
    font-family: "Montserrat", serif;
    color:#fff;
    background-color:#000;
    margin:0;
    overflow:hidden;
}

.container{
    display:flex;
    height:100vh;
    padding:0.5rem;
    
    
}

.sidebar{
    background-color:black;
    margin-right:0.5rem;
    width:340px;
   
}
.main-content{
    background-color:#121212;
    flex:1;
    overflow:auto;
    border-radius:1rem;
    padding: 0 1.75rem 0 1.75rem;
}
.music-player{
    background-color:#000;
    position:fixed;
    bottom:0;
    width:100%;
    height:72px;
}

.nav{
    background-color:#121212;
    display:flex;
    flex-direction:column;
    height:6rem;
    border-radius:1rem;
    justify-content:center;
    
}

.nav-option{
    line-height:2rem;
    padding:0.5rem 1.75rem;
    opacity:0.7;
}

.nav-option:hover{
    opacity:1;
}

a{
    color:white;
    text-decoration:none;
}

.nav-option i{
    font-size:1.25rem;
}

.nav-option a{
    padding:0.5rem;
    font-size:1.1rem;
    font-weight:700;
}

.lib-options{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:0.75rem;
   
    
    
}

.library{
    height:100vh;
    background-color:#121212;
    border-radius:1rem;
}

.lib img{
    height:1.5rem;
    width:1.5rem;
}

.icon{
    display:flex;
    justify-content:space-between;
    
   
}

.icon i:hover{
    opacity:1;
}
.icon i{
    font-size:1rem;
    opacity:0.7;
    margin-right:1rem;
}

.box{
    background-color:#232323;
    border-radius:0.75rem;
    margin:1rem 1rem;
    padding:0.5rem;
    height:10rem;
    
    height:fit-content;
}

.badge{
    border:none;
    font-size:1.25rem;
    border-radius:100px;
    margin:0.75rem 0;
    opacity:1;
    font-weight:500;
    font-weight:500;
    background-color:white;
}



.box-p1{
    font-size:1.25rem;
    font-weight:700;
}

.sticky-nav-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:sticky;
    top:0;
    background-color:#121212;
    height:3.4rem;

}

.sticky-nav-icons img{
    margin-left:1rem;
    height:1.75rem;
    width:1.75rem;
    border-radius:50%;
    background-color:black;
    border:1px solid white;
    opacity:0.7;
}
.sticky-nav-icons img:hover{
    opacity:1;
}

.sticky-nav-icons button,i{
    
margin-right:1rem;

}

.dark-badge{
    color:white;
    background-color:black;
    border:1px solid white;
    margin:0 1rem 0 1rem ;
}
.sticky-nav-badges i{
    opacity:0.7;
}
.sticky-nav-badges i:hover{
    opacity:1;
}

@media(max-width:1000px){
    .hide{
        display:none;
    }
}
 
.card{
    width:15rem;
    background-color:#232323;
    padding:1rem;
    border-radius:0.75rem;
    margin:1rem 1rem 0 0 ;

}

.card img{
    width:100%;
    border-radius:0.75rem;
}

.card-title{
    font-weight:700;
}
.card-info{
    opacity:0.8;
}

.cards{
    display:flex;
    flex-wrap:wrap;
}

.card:hover{
    background-color:#343434;
    
}