*{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-content:space-around;
    
}

.card{
    width:400px;
    height:500px;
    border:2px solid black;
    margin-top:50px;
    border-radius:5%;
    box-shadow:2px 2px 10px black;
    transition:box-shadow 0.5s 0.5s ease-in-out 0.5s;
    
}

.card:hover{
    box-shadow:4px 4px 20px black;
}

.card img{
    width:400px;
    height:300px;
    border-radius:5% 5% 0 0;

}

.card h2{
    color:brown;
}

span{color:brown;}